ul.tab li{
	float: left; list-style: none;
}
ul.tab li a{
  display:inline-block;
  text-decoration:none;
  width: 80px; height: 40px;
	line-height: 40px;
	text-align: center;
  color:#000;
}

#adv_1,#adv_2{
	width: 800px;
	height: 369px;
	padding:30px;
	position: absolute;
	top: 40px;
	left: 0;
}
#tab li:first-child,#content1{
	background-color: #ffcc00;
}
#tab li:first-child+li,#content2{
	background-color: #ff00cc;
}
#tab li:first-child+li+li,#content3{
	background-color: #00ccff;
}